@font-face {
  font-family: "iconfont"; /* Project id 2819329 */
  src: url('iconfont.woff2?t=1638513345991') format('woff2'),
       url('iconfont.woff?t=1638513345991') format('woff'),
       url('iconfont.ttf?t=1638513345991') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dixiamoshi:before {
  content: "\e60b";
}

.icon-xiangmuwenjian:before {
  content: "\e67d";
}

.icon-xiangmuwenjian1:before {
  content: "\e622";
}

.icon-chengguoguanli:before {
  content: "\e626";
}

.icon-jilu1:before {
  content: "\e61f";
}

.icon-cha:before {
  content: "\e61c";
}

.icon-saomiaoshibie380:before {
  content: "\e686";
}

.icon-chanpinliebiaoxiangshangshouqi:before {
  content: "\e660";
}

.icon-Reset:before {
  content: "\e61a";
}

.icon-manyou:before {
  content: "\e783";
}

.icon-biaoji:before {
  content: "\e619";
}

.icon-ceju:before {
  content: "\e68d";
}

.icon-mianji:before {
  content: "\e6b9";
}

.icon-cegaodu:before {
  content: "\e67a";
}

.icon-shenheguanli:before {
  content: "\e600";
}

.icon-sousuochuanbo:before {
  content: "\e650";
}

.icon-rizhi:before {
  content: "\e64e";
}

.icon-tongjifenxi:before {
  content: "\e634";
}

.icon-zonglan:before {
  content: "\e618";
}

.icon-tongjifenxi1:before {
  content: "\e6ba";
}

.icon-rizhi1:before {
  content: "\e620";
}

.icon-tongji:before {
  content: "\e606";
}

.icon-yonghuguanli:before {
  content: "\e604";
}

.icon-wendangguanli:before {
  content: "\e602";
}

.icon-shangchuan:before {
  content: "\e630";
}

.icon-shuju:before {
  content: "\e6c8";
}

.icon-moxing:before {
  content: "\e614";
}

.icon-shangchuan1:before {
  content: "\e607";
}

.icon-Files-100:before {
  content: "\e7f7";
}

.icon-jilu:before {
  content: "\e69f";
}

